! urxvt
URxvt.scrollBar: false
!URxvt.font: Gohu GohuFont:style=Regular
!xft:monospace:size=11
URxvt.cursorUnderline: false
URxvt.boldFont: false
URxvt.antialias: false

! transparency
URxvt*transparent: true
URxvt*shading: 40
URxvt*blurRadius: 3x3

! --- special colors ---

*background: #000000
*foreground: #d9e6f2

! --- standard colors ---

! black
*color0: #000000

! bright_black
*color8: #000000

! red
*color1: #ff0041

! bright_red
*color9: #ff0041

! green
*color2: #ff0061

! bright_green
*color10: #ff0061

! yellow
*color3: #ff0082

! bright_yellow
*color11: #ff0082

! blue
*color4: #00e8ff

! bright_blue
*color12: #00e8ff

! magenta
*color5: #00ffe8

! bright_magenta
*color13: #00ffe8

! cyan
*color6: #00ffb7

! bright_cyan
*color14: #00ffb7

! white
*color7: #ffffff

! bright_white
*color15: #ffffff
