@define-color foreground        rgba(255, 255, 255, 0.8);
@define-color underline         rgba(93, 168, 145, 1);
@define-color shaded            rgba(79, 79, 79, 0.27);
@define-color grey              rgba(255, 255, 255, 0.33);
@define-color red               rgba(230, 73, 73, 0.4);
