@define-color underline         rgba(180, 107, 24, 0.8);
@define-color foreground        rgba(255, 255, 255, 0.8);
@define-color shaded            rgba(57, 46, 35, 0.4);
@define-color grey              rgba(255, 255, 255, 0.33);
@define-color bg                rgba(0, 0, 0, 0.2);
@define-color red               rgba(230, 73, 73, 0.4);
