@define-color underline         rgba(80, 165, 151, 1);
@define-color foreground        rgba(255, 255, 255, 0.8);
@define-color shaded            rgba(63, 72, 90, 0.35);
@define-color grey              rgba(255, 255, 255, 0.33);
@define-color bg                rgba(0, 0, 0, 0.3);
@define-color red               rgba(230, 73, 73, 0.4);
