[Desktop Entry]
Type=Application
TryExec=alacritty
Exec=alacritty --working-directory %u
Icon=Alacritty
Terminal=false
Categories=System;TerminalEmulator;
MimeType=inode/directory
NoDisplay=true

Name=Alacritty - Open Directory
GenericName=Terminal
Comment=A fast, cross-platform, OpenGL terminal emulator
StartupWMClass=Alacritty

X-Desktop-File-Install-Version=0.26
