* { all: unset; }

@import "../../.cache/wal/colors-waybar.css";
@define-color main-color @color5;
@define-color secondary-color @color6;
@define-color accent-color @color4;
@define-color muted-color @color1;

* {
    border: none;
    font-family: "Iosevka SS18";
    font-size: 13px;
}

#backlight,
#battery,
#bluetooth,
#clock,
#custom-lock,
#pulseaudio,
#network,
#tray,
#workspaces {
    color: @foreground;
    padding: 0px 11px 0px 11px;
    transition-duration: .5s;
}
#pulseaudio.muted {
	color: @muted-color;
}

window#waybar {
    border-radius: 40px;
    background: linear-gradient(alpha(@background, 0.5), alpha(@background, 0.9));
}

#custom-lock {
    padding-right: 16px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
#network {
    padding-left: 16px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

#backlight:hover,
#battery:hover,
#bluetooth:hover,
#clock:hover,
#custom-lock:hover,
#pulseaudio:hover,
#network:hover,
#tray:hover {
    color: @accent-color;
    background: linear-gradient(alpha(lighter(@background), 0.3), alpha(darker(@background), 1.0));
}

#workspaces {
    font-size: 12px;
    font-weight: bold;
    /*border: 1px solid alpha(@background, 0.5);*/
    background: linear-gradient(alpha(darker(@background), 1.0), alpha(lighter(@background), 0.5));
    border-radius: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
}
#workspaces button {
    color: lighter(@secondary-color);
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 4px;
    padding-right: 4px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}
#workspaces button.active {
    color: @background;
    background: linear-gradient(alpha(@foreground, 0.9), alpha(@foreground, 0.4));
    border-radius: 20px;
    transition: color 0.5s;
    margin-left: 2px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 2px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.8s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}
#workspaces button.urgent {
    color: @accent-color;
    background: transparent;
    transition: none;
}
#workspaces button:hover {
    color: lighter(@accent-color);
    transition: none;
}
#workspaces button.active:hover {
    color: darker(@secondary-color);
    transition: none;
}

tooltip {
    background: alpha(@background, 1.0);
    border-radius: 10px;
    border: 2px solid alpha(lighter(@main-color), 0.5);
}
tooltip label {
    color: @foreground;
}

#tray menu {
    padding: 8px;
    color: @foreground;
    background: alpha(@background, 1.0);
    border-radius: 10px;
    border: 2px solid alpha(lighter(@main-color), 0.5);
}
