@define-color foreground        rgba(158, 255, 165, 1);
@define-color underline         rgba(84, 255, 128, 1);
@define-color shaded            rgba(64, 79, 79, 0.27);
@define-color grey              rgba(221, 221, 221, 0.33);
@define-color red               rgba(230, 73, 73, 0.4);
